.login {
  background-color: rgb(246, 246, 246);
  height: 100vh;
}

.login-logo {
  display: flex;
  justify-content: center;
  padding: 30px 0;
}

.login-logo img {
  width: 5%;
}

.login-logo h2 {
  font-size: 40px;
  font-weight: 700;
}

.login-logo span {
  color: #ff7f47;
}

.login-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form-parent {
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-form {
  border: 1px solid rgba(114, 114, 114, 0.438);
  background-color: #fff;
  width: 40%;
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.google-login {
  border: 1px solid rgba(114, 114, 114, 0.438);
  margin-top: 10px;
  padding: 5px 0;
  width: 70%;

  border-radius: 20px;
  cursor: pointer;
}
.google-login {
  display: flex;
}

.google-logo {
  margin-left: 5px;
  width: 80%;
}

.swith-login {
  cursor: pointer;
  color: rgb(47, 47, 248);
  text-decoration: underline;
}
.email-login {
  width: 100%;
  background-color: #fff;
  border: 1px solid rgba(114, 114, 114, 0.438);
  padding: 5px 0;
  border-radius: 20px;
}

@media only screen and (max-width: 600px) {
  .login-form {
    width: 90%;
    min-height: 40vh;
  }
  .google-logo {
    margin-left: 5px;
    width: 100%;
  }

  .login-logo img {
    width: 13%;
  }

  .login-logo h2 {
    font-size: 30px;
    font-weight: 700;
  }
}
