.whyTourX {
  background-image: url("../../utilities/worldmap.jpg");

  background-color: #ffffff96;
  background-blend-mode: lighten;
  min-height: 50vh;
  margin-bottom: 30px;
  background-size: cover;
  padding-bottom: 50px;
}

.whyTourX h3 {
  font-weight: 600;
  color: #ff7f47;
}

.whyTourX h1 {
  font-weight: 700;
}
.card-container-whyTourX {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
}

.card-item-whyTourX {
  background-color: #315048;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 30px 0;
}

.card-item-whyTourX p {
  font-size: 5rem;
}
.card-item-whyTourX h4 {
  font-weight: 700;
}

@media only screen and (max-width: 600px) {
  .card-container-whyTourX {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 15px;
    margin-top: 10px;
  }
}
