.footer {
  background-color: #262339;
  color: #fff;
  padding-top: 150px;
  padding-bottom: 20px;
  position: relative;
  margin-top: 300px;
}

.footer-logo img {
  overflow-x: hidden !important;
  width: 8%;
}

.footer-logo {
  font-size: 24px;
  font-weight: 600;
}

.footer-logo span {
  color: #ff7f47;
}
.footer-one p span {
  font-size: 24px;
  color: #ff7f47;
  margin-right: 20px;
}

.footer-one h3 {
  font-weight: 600;
}

.footer-two p span {
  font-size: 20px;
  color: #ff7f47;
  padding-right: 10px;
}

.subscribe {
  position: absolute;
  min-height: 40vh;
  width: 60%;
  left: 20%;
  top: -180px;
  border-radius: 20px 20px 0 0;
  background-color: #315048;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.subs {
  margin-top: 20px;
  display: flex;
}

.subs input {
  width: 350px;
  height: 60px;
  border: none;
  outline: none;
  border-radius: 15px 0 0 15px;
  padding: 0 10px;
}
.subs button {
  width: 120px;
  height: 60px;
  border: none;
  outline: none;
  border-radius: 0 15px 15px 0;
  background-color: #ff7f47;
  color: #fff;
  font-weight: 600;
  transition: all 0.2s;
}

.subs button:hover {
  background-color: #262339;
}

@media only screen and (max-width: 600px) {
  .subscribe {
    position: absolute;
    min-height: 30vh;
    width: 90%;
    left: 5%;
    top: -180px;
  }

  .subs input {
    width: 150px;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 15px 0 0 15px;
    padding: 0 10px;
  }
  .subs button {
    width: 90px;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 0 15px 15px 0;
    background-color: #ff7f47;
    color: #fff;
    font-weight: 600;
    transition: all 0.2s;
  }
}
