.carousel-text {
  width: 150%;
  height: 100%;
  position: absolute !important;
  left: 0 !important;
  bottom: 0 !important;
  background-color: rgba(0, 0, 0, 0.541);
  color: #fff;
}

.carousel-text-inner {
  margin-left: 10%;
  margin-top: 7%;
}

.carousel-text-inner h1 {
  font-size: 60px;
  font-weight: 900;
}

.carousel-text-inner h2 {
  color: #f5672a;
  font-weight: 600;
  margin-bottom: 1%;
}

.carousel-text-inner a {
  text-decoration: none;
  background-color: #304f47;
  padding: 12px 20px;
  color: #fff;
  font-weight: 500;
  border-radius: 5px;
  position: relative;
  z-index: 2;
  transition: all 0.6s;
}

.carousel-text-inner a:hover {
  color: #fff;
  background-color: #f5672a;
}
