.notFound {
  text-align: center;
}

.notFound img {
  width: 50%;
  margin-bottom: 30px;
}
.notFound a {
  margin-top: 20px;
  text-decoration: none;
  color: #fff;
  background-color: #f75a16;
  padding: 10px 20px;
  font-weight: 600;
}

.notFound a:hover {
  color: #fff;
}
